@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'TheJamsil5Bold';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@layer base {
  a {
    @apply text-blue-500;
  }

  h1 {
    font-family: 'TheJamsil5Bold', sans-serif; /* h1 태그에 폰트 적용 */
    font-weight: 700; /* 폰트 굵기 설정, @font-face 규칙에 설정한 font-weight와 일치 */
    @apply text-4xl font-bold; /* 기존 Tailwind 스타일을 유지 */
  }


  h2 {
    font-family: 'TheJamsil5Bold', sans-serif; /* h1 태그에 폰트 적용 */
    font-weight: 700; /* 폰트 굵기 설정, @font-face 규칙에 설정한 font-weight와 일치 */
    @apply text-2xl font-bold; /* 기존 Tailwind 스타일을 유지 */
  }

  span {
    font-family: 'TheJamsil5Bold', sans-serif; /* h1 태그에 폰트 적용 */
    font-weight: 700; /* 폰트 굵기 설정, @font-face 규칙에 설정한 font-weight와 일치 */
    @apply text-lg; /* 기존 Tailwind 스타일을 유지 */
  }
}

@layer components {
  .primary-btn {
    @apply w-full bg-blue-500 text-white font-medium rounded-md text-center hover:bg-cyan-400 transition-colors;
  }
}
